* {
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  font-weight: 600;
  font-size: 14px;
  font-family: var(--font-dm-sans);
}

h2 {
  color: white;
  font-weight: 700;
}
p {
  font-weight: 500;
}

aside nav,
.library {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
}
.library .library__content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.fa {
  font-size: 20px;
  font-weight: 300;
  margin-right: 10px;
  padding-right: 8px;
}
.fa-plus {
  margin: 24px 10px;
}
section {
  display: flex;
  border-radius: 8px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
  background-color: #242424;
  padding: 16px;
  color: white;
}
section button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-size: 12px;
  padding: 10px;
  width: 113px;
  font-weight: 700;
}
.library .cookie {
  margin: 25px 20px;
}
.library a {
  color: #b3b3b3;
  text-decoration: none;
}
.library a:hover {
  text-decoration: underline;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  padding: 12px;
  width: 300px;
  height: 100%;
}

aside nav img {
  width: 80px;
}

aside nav ul {
  margin-top: 10px;
}

aside nav ul li {
  padding: 10px 0;
}

aside nav ul li a,
.library,
button {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
